// todo move billboard form styles here!

.form {

    &__textarea, &__input {
        box-sizing: border-box;
        font-size: 13px;
        color: #7c7c7c;
        padding: 20px 10px;
         border: none;
    }
    &__input {
        height: 50px;
        width: 250px;
        margin-right: 20px;

        @media(max-width: $medium-break) {
            width: 100%;
        }

        &--noBorder {
            border: none;
        }
    }
}

.form--subscribe {
    display: flex;
    flex-direction: row;
    border: 3px solid #eae9e9;
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
    border-radius: 2px;
    padding: 5px;
    box-sizing: border-box;
    background: white;

    input {
        margin: 0;
        flex: 1;
        border: none;
        background: transparent;
    }

    @media(max-width: $medium-break) {
        flex-direction: column;
    }
}

.form--contact {
    margin-right: 0;
    margin-left: auto;
    margin-top: 100px;
    background: white;
    padding: 50px;

    .input__wrapper {
        display: flex;
        margin: 20px 0;
        
    }
    input, textarea {
        border: 1px solid #eae9e9;
        margin: 0;
        flex: 1;
    }

    &__link {
        font: 14px 'Raleway', sans-serif;
        color: #395e66;
        margin-left: 20px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @media(max-width: $medium-break) {
        margin: 0;
        background: transparent;
    }
}