.header-wrapper {
    position: relative;
    z-index: 1;
}

.header {
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 15px;
    display: flex;
    align-items: center;
    height: 55px;
    position: absolute;

    &__mobMenuIcon {
        display: none;
    }

    &__menu {
        flex: 1;
        z-index: -1;
    }
}

.header-logo {
    height: 30px;

    @media(min-width: $medium-break) {
        margin-right: 50px;
        padding-right: 42px;
        border-right: 1px solid #575757;
    }

    &__text {
        font: 300 22px 'Raleway', sans-serif;
        margin: 0;
    }
}

@media(max-width: $medium-break) {
    .header {
        position: relative;
        top: 0;
        padding: 0 10px;
        background: white;
        box-shadow: 1px 1px 6px 0px #9E9E9E;

        &__mobMenuIcon {
            display: block;
            font-size: 21px;
            flex: 1;
        }

        &__menu {
            position: absolute;
            display: flex;
            flex-direction: column;
            transform: translateY(-355px);
            right: 0;
            left: 0;
            background: white;
            transition: transform 300ms ease;
    

            &:first-of-type {
                border-top: 1px solid #b9b8b9;
            }

            &--open {
                  transform: translateY(183px);
            }

        }
    }

}

