@import 'normalise';
@import 'header';
@import 'menu';
@import 'social';
@import 'billboard';
@import 'feature';


// custom fonts

@font-face {
    font-family: 'EternalFascination';
    src: url('../fonts/EternalFascination.ttf');
}

.wrapper {
    background: url('../../imgs/dominikschroder14534.png');
        background-size: cover;
    background-position: 50%;
    width: 100vw;
    min-height: 100vh;
    padding-top: 55px;
}

// todo - move to their own files!
.video {
    height: 620px;
    background: #d1d1d1;
}

.testimonials {
    height: 690px;
    background: #d1d1d1;
}

.heading {
    font: 500 26px 'Raleway', sans-serif;
    margin: 0;

}