@import 'normalise';
@import 'header';
@import 'menu';
@import 'social';
@import 'billboard';
@import 'feature';


// custom fonts

@font-face {
    font-family: 'EternalFascination';
    src: url('../fonts/EternalFascination.ttf');
}

.wrapper {
    background: url('../../imgs/dominikschroder14534.png');
        background-size: cover;
    background-position: 50%;
    width: 100vw;
    min-height: 100vh;
    padding-top: 55px;
}