.menu__item {
    font: 500 16px 'Raleway', sans-serif;
    text-decoration: none;
    color: #575757;
    margin-right: 50px;
    font-size: 14px;

    @media(max-width: $medium-break) {
        font-size: 18px;
        padding: 20px 0;
        text-align: center;
        margin: 0;
        border-bottom: 1px solid #b9b8b9;
    }
}