.social {
    display: flex;

    @media(max-width: $medium-break) {
        &--topnav {
            display: none;
        }
    }
}

.social__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: white;
    color: #515151;
    text-decoration: none;
    border-radius: 50%;

    
    &:not(:last-child) {
        margin-right: 20px;
    }
}